

@media (max-width: 1200px){

    html{
        font-size: 55%;
    }

    section{
        min-height: 50vh;
        padding: 10rem 9% 2rem ;
    }
    .home{
        justify-content: center;
        flex-direction: column;
        /* height: 100vh; */
    }

    .cv-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: var(--accent-color);
        color: var(--primary-color) !important;
        border: transparent;
        border-radius: 50%;
        font-size: 2rem;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
        visibility: visible !important; /* Override any hidden property */
        white-space: nowrap; /* Prevent wrapping */
        overflow: visible; /* Ensure it does not get clipped */
        z-index: 10; /* Ensure it appears on top */
      }

    @media (max-width:768px){

        .home-img img{
            width: 100%;
            height: auto;
            margin-top: 8rem;
            object-fit: cover;
        }

        .interests-education {
          display: flex;
          flex-direction: column; /* Stack elements vertically */
          width: 100%;
          height:auto;
          justify-content: space-between;
          gap: 3rem; /* Space between Interests and Education sections */
          margin-top: 2rem;
          margin-bottom: 2rem;
          background: var(--second-bg-color);
          padding: 2rem;
          border-radius: 8px;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
          /* animation: fadeInContent 1s ease-in-out forwards 1.5s; */
        }

        .interests-education{

          .interests h2, .education-section h2 {
            font-size: 2.4rem;

          }

          .interests ul {
            font-size: 1.6rem;
            line-height: 2;
          }


          .education-item i {
            font-size: 2.5rem; /* Graduation icon size */
          }

          .education-details h3 {
            font-size: 1.7rem;
          }

          .education-details p {
            font-size: 1.4rem;
          }
        }
    }


    @media (max-width: 1200px) {

        .cd-timeline-content {
          color: white;
          margin-left: 0;
          padding: 1.6em;
          /* font-size: 1.75rem; */
          width: 80%; /* Keeps content blocks consistent */
          margin-left: 20px; /* Reduce this value to move closer to the center line */
          margin-right: 20px; /* Reduce for right-aligned blocks */
          margin: 0 5%
        }
        .cd-timeline-content::before {
          top: 24px;
          left: 100%;
          border-color: transparent;
          border-left-color: var(--second-bg-color);
        }
        .cd-timeline-content .cd-date {
          position: absolute;
          width: 100%;
          left: 122%;
          top: 6px;
          font-size: 16px;
          font-size: 1rem;
        }

        /* Left side animation */
        .cd-timeline-block:nth-child(odd) .cd-timeline-content.animated {
            animation: slideInFromRight 1s ease-in-out forwards;
        }

        /* Right side animation */
        .cd-timeline-block:nth-child(even) .cd-timeline-content.animated {
            animation: slideInFromRight 1s ease-in-out forwards;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content {
          float: right;
          /* animation: slideInFromRight 1s ease-in-out forwards; */
        }
        .cd-timeline-block:nth-child(odd) .cd-timeline-content {
          float: right;
          /* animation: slideInFromRight 1s ease-in-out forwards; */
        }

    }


    .portfolio-box .layer1{
        display: flex;
    }

    .portfolio-box .portfolio-layer {
        display: none;
    }

    .portfolio-box .portfolio-layer0 {
        padding: 1.4rem;
    }

    .portfolio-layer0 h4{
        font-size:  1.6rem;
    }

    .portfolio-layer0 p{
        font-size:  1.4rem;
        margin: .3rem 0 1rem;
    }


    .portfolio-box .layer1 {
        padding: 1.4rem;
    }


    .research-box .layer1{
        display: flex;
    }

    .research-box .research-layer {
        display: none;
    }

    .research-box .research-layer0 {
        padding: 1.4rem;
    }

    .research-layer0 h4{
        font-size:  1.6rem;
    }

    .research-layer0 p{
        font-size:  1.4rem;
        margin: .3rem 0 1rem;
    }


    .research-box .layer1 {
        padding: 1.4rem;
    }


    .layer1 a{
        font-size: 1.2rem;
    }

    .layer1 a:hover{
        cursor: pointer;
    }

    /*all buttons and clicky bits===========*/
    .btn{
        display: inline-block;
        padding: 1rem 2.8rem;
        background: var(--accent-color);
        border-radius: 4rem;
        font-size: 1.6rem;
        color: var(--primary-color);
        letter-spacing: .1rem;
        font-weight: 600;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease-in-out;
    }

    .btn:hover {
        box-shadow: none;
    }


    .contact form .btn{
        margin-top: 2rem;
        cursor: pointer;
    }

    .contact form button{
        margin-top: 2rem;
        cursor: pointer;
        display: inline-block;
        padding: 1rem 2.8rem;
        background: var(--accent-color);
        border-radius: 4rem;
        font-size: 1.6rem;
        color: var(--primary-color);
        letter-spacing: .1rem;
        font-weight: 600;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease-in-out;
    }

    .contact form button:hover{
        box-shadow: none;
    }

    .social-media a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: var(--accent-color);
        color: var(--primary-color);
        border: transparent;
        border-radius: 50%;
        font-size: 2rem;
        color: var(--accent-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
    }
    .social-media a i{
        font-size: 2.4rem;
        color: var(--primary-color);
    }

    .footer-iconTop {
        display: flex;
        align-items: center;
        pointer-events: auto;
    }


    .footer-iconTop a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        background: var(--accent-color);
        border-radius: 50%;
    }
    .footer-iconTop a:hover{
        box-shadow: 0 0 2rem var(--shadow);
    }

    .footer-iconTop a i{
        font-size: 2.4rem;
        color: var(--primary-color);
    }




}

@media (max-width: 991px){


    .header{
        padding: 2rem 3%;
    }



    section{
        padding: 10rem 3% 2rem;
    }

    .home{
        flex-direction: column;
        /* height: 100vh; */
    }

    .home-img img{
        width: 500px;
        height: auto;
    }

    .research{
        padding-bottom:  7rem;
    }

    .portfolio{
        padding-bottom:  7rem;
    }

    .hobbies{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }


    .footer{
        padding: 2rem 3%;
    }

}

@media (max-width: 768px){

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: var(--dark);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5 rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
        animation: slideIn 0.4s ease-in-out;

    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }


    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .portfolio-box .portfolio-layer0 {
        padding: 1.4rem;
    }

    .portfolio-layer0 h4{
        font-size:  1.6rem;
    }

    .portfolio-layer0 p{
        font-size:  1.4rem;
        margin: .3rem 0 1rem;
    }


    .portfolio-box .portfolio-layer {
        padding: 1.4rem;
    }

    .portfolio-layer a{
        font-size: 1.2rem;
    }


    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }



    .research-box .research-layer0 {
        padding: 1.4rem;
    }

    .research-layer0 h4{
        font-size:  1.6rem;
    }

    .research-layer0 p{
        font-size:  1.4rem;
        margin: .3rem 0 1rem;
    }


    .research-box .research-layer {
        padding: 1.4rem;
    }

    .research-layer a{
        font-size: 1.2rem;
    }


    .research h2{
        margin-bottom: 3rem;
    }

    .research-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .hobbies-container{
        grid-template-columns: repeat(3, 1fr);
    }


}

@media (max-width: 617px){

    .research-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .hobbies-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width:500px){

  .portfolio-layer0 h4{
      font-size:  1rem;
  }

  .portfolio-layer0 p{
      font-size:  1rem;
      margin: .7rem 0 1rem;
  }
}

@media (max-width:500px){
  .cd-timeline-content h2 {
    /* font-size: 20px; */
    font-size: 2rem;
  }
  .cd-timeline-content p {
    /* font-size: 16px; */
    font-size: 1.25rem !important;
}

@media (max-width: 400px){
    html{
        font-size: 50%;
    }

/*
    .loading-text{
        margin-right:-300px;
    }*/

    .home-content{
        margin top: 200px;
        /* height: 100vh; */
    }

    @media (max-height: 700px){
      .home-content{
          /* margin top: 200px; */
          height: 100vh;
      }
    }
    .contact form .input-box input{
        width: 100%;
    }

    .home-img img{
        width: 75vw;
        height: auto;
    }

}

@media (max-width: 365px){
    /* .home-img img{
        width: 90vw;
    } */

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
